<doctype html>
<html(lang="en")>
    <head>
       
        <title>login </title>
        </head>
       
        <div style="margin: 50px 35% 50px 35%"></div>
            <form action="/home/login", method="post">
              
                <label>email</label> 
                <input type="text" name="email">

                <label>password</label>
                <input type="text" name="password">

                <input type="button" name="submit" value="submit">

                </form> 
                </html> 