<html>
    <body>
        <form method="post" action="/testinsert" enctype="multipart/form-data">
            eno : <input type="text" name="eno" /><br />
            fname : <input type="text" name="fname"/><br />
            city : <input type="text" name="city"/><br />    
            pic : <input type="file" name="image" /><br />
            <input type="submit" /> 
        </form>
    </body>
</html>